{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}


{% block main %}
  <h2>Connexion</h2>

  <div class="content">
    {{ form | raw }}

    <p>Pas encore de compte ? <a href="/inscription">S'inscrire</a></p>

    {% if error_message is defined %}
      <div class="error_message">{{ error_message }}</div>
    {% endif %}
  </div>
{% endblock %}
