extends ../base.pug

block main
  form(method="POST" action="/connexion")
    div.form-group
      label(for="uuid") Nom d'utilisateur ou adresse email
      input(type="text" id="uuid" name="uuid" required)
    div.form-group
      label(for="password") Mot de passe
      input(type="password" id="password" name="password" required)
    div.form-submit
      button(type="submit") Se connecter

    p Pas encore de compte ? #[a(href="/inscription") S'inscire.]

    if flashErrors
      ul
        each error in flashErrors
          li= error
      