extends ../base.pug

block main
  h2 Connexion
  form(method="POST" action=`/admin/connexion`)
    div.form-text
      label(for="uuid") Nom d'utilisateur ou adresse email
      input(type="text" id="uuid" name="uuid" required)
    div.form-text
      label(for="password") Mot de passe
      input(type="password" id="password" name="password" required)
    div.form-submit
      button(type="submit") Se connecter