{% extends "admin-base.html.twig" %}

{% block title %}Panneau d'administration{% endblock %}

{% block main %}
  <div class="admin-card">
    <a href="/admin-articles">Voir tous les articles publiés sur le site</a>
  </div>
{% endblock %}