{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block main %}

  <h2>Inscription</h2>

  <div class="content">
    {{ form | raw }}

    <p>Déjà un compte ? <a href="/connexion">Se connecter</a></p>

    {% if error is defined %}
      <div class="form-error">
        {{ error }}
      </div>
    {% endif %}

  </div>

{% endblock %}