{% extends "base.html.twig" %}

{% block title %}Activation du compte{% endblock %}

{% block main %}
  <div class="content">
    <p>Votre compte a bien été activé. Vous pouvez à présent <a href="/connexion">vous connecter</a>.</p>
  </div>
{% endblock %}