form {
  --padding: .75em;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: var(--padding);
  padding: var(--padding);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  label {
    background: rgba(255, 255, 255, .6);
    padding: .2em;
  }

  .form-row {
    display: flex;
    gap: var(--padding);

    [class^="form-"] {
      width: 100%;
    }
  }

  .form-number,
  .form-select,
  .form-checkbox,
  .form-file {
    display: flex;
    justify-content: space-between;
  }

  .form-text {
    input, textarea {
      width: 100%;
    }

    input {
      height: 2em;
    }
  }

  .form-number {
    input[type="number"] {
      width: 4em;
      text-align: center;
    }
  }

  .form-select {
    select {
      width: 50%;
    }
  }

  .form-submit {
    @extend %gridCenter;
    margin-top: 1em;

    [type="submit"] {
      @extend %button;
      color: white;
      background: $blue1;
    }
  }
}

#add-product-form {
  background-image: url("../img/backgrounds/blue-sky.jpg");
}