main {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  
  h2 {
    font-size: 1.85rem;
    background: $blue1;
    background: $blue-gradient1;
    color: white;
    padding: .35em;
  }

  .content {
    padding: 1em;
    flex: 1;
  }
}

@import "forms";
@import "main/products";
@import "usernav";
@import "messages";
@import "main/profile";