@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@400;700&family=Questrial&display=swap');

$font-family1: 'Poppins', 'Mulish', 'Questrial', Arial, Helvetica, sans-serif;

// Colors
$blue1: hsl(217, 97%, 46%);
$blue2: hsl(209, 95%, 51%);
$green1: limegreen;
$green2: hsl(107, 67%, 41%);
$green3: hsl(168, 40%, 45%);
$green4: hsl(181, 69%, 25%);
$green5: hsl(98, 40%, 60%);
$green6: hsl(99, 42%, 52%);
$orange1: hsl(34, 74%, 49%);
$orange2: hsl(24, 100%, 50%);
$silver1: hsl(213, 60%, 94%);
$silver2: hsl(222, 32%, 86%);
$blue-gradient1: linear-gradient(315deg, $blue1 0%, $blue2 74%);
$green-gradient1: linear-gradient(315deg, $green1 0%, $green2 74%);
$green-gradient2: linear-gradient(to right, $green3, $green4);
$green-gradient2b: linear-gradient(to right, lighten($green3, 15%), lighten($green4, 15%));
$green-gradient3: linear-gradient(to right, $green5, $green6);
$orange-gradient1: linear-gradient(.75turn, $orange1 0%, $orange2 100%);
$silver-gradient1: linear-gradient(315deg, $silver1 0%, $silver2 74%);

%gridCenter {
  display: grid;
  place-items: center;
}

.button {
  all: unset;
  @extend %gridCenter;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: $font-family1;
  padding: .5em .75em;
  border-radius: 99999px;
  cursor: pointer;

  &:active {
    transform: scale(.975);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    width: initial;
    height: initial;
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.flash {
  animation: fadeOut 2s 7s forwards;
}