{% extends "base.html.twig" %}

{% block title %}Catégories{% endblock %}

{% block main %}
  <h2>Catégories</h2>

  <div class="content">
    <ul>
      {% for category in categories %}
        <li>
          <a href="/categorie/{{ category.id }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>  
  </div>
{% endblock %}