{% extends "base.html.twig" %}

{% block title %}Messagerie{% endblock %}

{% block main %}
  <h2>Messagerie</h2>

  <div class="content">
    <section id="inbox">
      {% for message in received_messages %}
        <p>{{ message.content }}</p>
      {% endfor %}
    </section>

    <section id="outbox">
      {% for message in sent_messages %}
        <p>{{ message.content }}</p>
      {% endfor %}
    </section>

    <section id="send-new">
      {{ form | raw }}
      {% include "_partials/error_message.html.twig" %}
      {% include "_partials/success_message.html.twig" %}
    </section>
  </div>
{% endblock %}