{% extends "base.html.twig" %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block main %}

  <h2>Profil de {{ user.username }}</h2>

  <div class="content">
  
    <form action="/deconnexion" class="logout-form" method="POST">
      <button type="submit" class="button">Déconnexion</button>
    </form>

    <div id="my-products"><a href="/mes-articles">Mes Articles</a></div>
    <div id="add-product"><a href="/ajouter-article">Ajouter un article</a></div>
  
  </div>
{% endblock %}