extends ../base.pug

block main
  h2 Modifier mes coordonnées
  form(method="POST" action="modifier-mes-coordonnees")
    div.form-group
      label(for="first_name") Prénom
      input(type="text" id="first_name" name="first_name" maxlength="50")
    div.form-group
      label(for="last_name") Nom de famille
      input(type="text" id="last_name" name="last_name" maxlength="50")
    div.form-group
      label(for="postal_address") Adresse postale
      input(type="text" id="last_name" name="last_name" maxlength="255")
    div.form-group
      label(for="city") Ville
      input(type="text" id="city" name="city" maxlength="50")
    div.form-group
      label(for="zip_code") Code postal
      input(type="text" id="zip_code" name="zip_code" maxlength="10")
    div.form-group
      label(for="phone_number") Numéro de téléphone
      input(type="text" id="phone_number" name="phone_number" maxlength="20")
    div.form-submit
      button(type="submit") Mettre à jour

  if flashErrors
    ul
      each error in flashErrors
       li= error