extends ../base.pug

block main
  h2= title
  div.content
    form(method="POST" action="/modifier-mon-mot-de-passe")
      div.form-submit
        label(for="old-password") Ancien mot de passe
        input(type="password" id="old-password" name="old-password" required)
      div.form-submit
        label(for="new-password") Nouveau mot de passe
        input(type="password" id="new-password" name="new-password" required)
      div.form-submit
        label(for="confirm-new-password") Confirmer nouveau mot de passe
        input(type="password" id="confirm-new-password" name="confirm-new-password" required)
      div.form-submit
      button(type="submit") Mettre à jour