{% extends "base.html.twig" %}

{% block title %}Modifier mes coordonnées{% endblock %}

{% block main %}
  <h2>Modifier mes coordonnées</h2>

  {{ form | raw }}

  {% include "_partials/error_message.html.twig" %}
{% endblock %}