{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block main %}
  <h2>Ajouter un article</h2>

  <div class="content">
    {{ form | raw }}
    {% if error_message %}
      <div class="error_message">{{ error_message }}</div>
    {% endif %}
  </div>

{% endblock %}