extends ../base.pug

block main
  h2= title
  div.content
    form(method="POST" action="/ajouter-article" enctype="multipart/form-data" id="add-product-form")
      div.form-text
        label(for="name") Nom de l'article
        input(type="text" name="name" id="name" maxlength="50" required)
      div.form-text
        label(for="description") Description
        textarea(id="description" name="description")
      div.form-row
        div.form-number
          label(for="price") Prix en Pipots
          input(type="number" min="1" name="price" id="price" placeholder="1" required)
        div.form-number
          label(for="quantity") Quantité
          input(type="number" min="1" name="quantity" id="quantity" placeholder="1" required)
      div.form-row
        div.form-select
          label(for="category_id") Catégorie
          select(id="category_id" name="category_id")
            each category in categories
              option(value= category.id) #{category.name}
        div.form-file
          label(for="image") Image
          input(type="file" name="image" id="image")
      div.form-submit
        button(type="submit") Ajouter