{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block main %}
  <h2>Ajouter un article</h2>

  <div class="content">
    {{ form | raw }}
    {% if error is defined %}
      <div class="form-error">{{ error }}</div>
    {% endif %}
  </div>

{% endblock %}