extends ../base.pug

block main
  h2 Ajouter un article
  div.content
    form(method="POST" action="/ajouter-article" enctype="multipart/form-data")
      div.form-group
        label(for="name") Nom de l'article
        input(type="text" name="name" id="name" maxlength="50" required)
      div.form-group
        label(for="description")
        textarea(id="description" name="description")
      div.form-group
        label(for="price") Prix en Pipots
        input(type="number" min="1" name="price" id="price" required)
      div.form-group
        label(for="quantity") Quantité
        input(type="number" min="1" name="quantity" id="quantity" required)
      div.form-group
        label(for="image") Image
        input(type="file" name="image" id="image")
      div.form-submit
        button(type="submit") Ajouter
    if flashErrors
      ul
        each error in flashErrors
          li= error