nav.user-nav
  ul
    li
      a(href="/mes-articles") Mes articles publiés
    li
      a(href="/mon-panier") Mon panier
    li
      a(href="/ajouter-article") Ajouter un article
    li
      form(method="POST" action="/deconnexion")
        input(type="submit" value="Déconnexion")