<footer>
  <h2>Rechercher un produit</h2>

  <form action="/recherche" method="POST">
    <input type="search" name="keywords" placeholder="Séparez chaque mot-clé par un espace...">
    <button>Rechercher</button>
  </form>
</footer>