doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(meta http-equiv="X-UA-Compatible" content="IE=edge") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/build/css/style.css")
    script(src="/build/js/main.js" type="module")
    title PIPOT - #{title}
  body
    header
      include ./_inc/header.pug
    main
      if flashSuccess
        p.flash-success= flashSuccess
      if flashErrors
        ul
          each error in flashErrors
            li.flash-error= error
      block main
    footer
      section.top
      section.bottom
        h2 Rechercher un article
        div
          form(method="POST" action="/recherche")
            input(type="search" name="keywords" placeholder="Séparez chaque mot-clé par un espace...")
            button.button Rechercher