{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block main %}
  <h2>Accueil</h2>

  {% if success_message is defined %}
    <div class="success_message">{{ success_message }}</div>
  {% endif %}

  {% include "_partials/error_message.html.twig" %}

  <div class="content">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum maxime sapiente, facilis voluptatem laboriosam quas facere eaque deleniti quam aliquam nesciunt ad rerum in consequatur laudantium hic magnam distinctio error.</p>
  <p>Atque facere, molestiae delectus corrupti debitis quis fugiat! Consequuntur molestiae eveniet repellat, nihil eos similique, dolores ducimus nemo facere explicabo placeat veritatis adipisci cupiditate nostrum quis quisquam deleniti hic fugiat.</p>
  <p>Laboriosam inventore fuga eveniet quo ab necessitatibus magnam eum minima! Sed odio ut quis, beatae rerum non rem natus hic excepturi cumque doloribus, autem, consequatur eum dolorem ea delectus iure.</p>
  
  </div>
{% endblock %}